<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitter風サイト練習</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>


<section class="main">
<div class="row"> 
<div id = "a-box">
<div class="col-sm-6" >
<h2>Twitter風サイト</h2>
  <p>Twitterのようなサイトを練習作成するためのページです。</p>
  <p>サイトトップページです。</p> 
</div>
</div>
<div id = "b-box">
<div class="col-sm-6" >
  <img src="<%= asset_path "hawaii.jpg"%>">
</div>
</div>
</div>
</section>
</body>


</html>